@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Wendy+One&display=swap');
body{
    background: url(./assets/images/bg\ 5.png), lightgray 50% / cover no-repeat;
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navigation{
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 21px;
}
.icons{
    width: 38px;
    height: 39.5px;
    flex-shrink: 0;
}
.menu{
    display: inline-flex;
    flex-direction: row;
    gap: 9px;
    color: #642C99;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.top-section {

    width: 100%;
    display: flex;
    justify-content: center;
  
  }
  
  .top-section-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 100px;
  }
  
  .top-section-image {
    width: 457px;
    height: 630px;
    flex-shrink: 0;
    position: absolute;
    top: 0%;
    left: 60%;
    background: url('./assets/images/donut1.png'), 100% / cover no-repeat;
  }
  
  .top-section-title {
    color: #642C99;
    font-family: Wendy One;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 23px;
  }
  
  .top-section-subtitle {
    color: #642C99;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 144.444% */
  }
  
  .list-section {
  
    margin-top: 180px;
    display: flex;
    width: 100%;
  
  }
  
  .list-section-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  table {
    display: flex;
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    color: #642C99;
  
    font-family: Wendy One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  }
  
  td,
  th {
  
    padding-top: 10px;
    text-align: left;
  }
  
  tr {
    gap: 61px;
  }
  .total-container{
    display: flex;
    width: 80%;
    margin-left: 49vw;
    text-align: center;
    align-items: center;
    gap: 80px;
    
  }
  
  .total-label{
  color: #642C99;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  }
  .total{
    color: #642C99;
  text-align: center;
  font-family: Wendy One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  
  }
  .order{
    margin-left: 49vw;
    width: 300px;
    height: 59px;
    border-radius: 8px;
    background: #642C99;
    color: #FBFAC9;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
  }
  footer{
    flex-direction: row;
    margin-top: 800px;
    justify-content: center;
    width: 100%;
    display: flex;

  }
.footer-sub{
    color: #FDEFD1;
    font-family: Wendy One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    justify-content: left;
}
.footer-links>a{
    color: #FDEFD1;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    text-decoration: none;
    display: flex;
    width: 100%;
}
.Emailsub{
    color: #FDEFD1;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}